<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>线上校友专区</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        .rt {
            float: right;
            width: 250px;
            color: white;
            margin-left: 700px;
            font-size: 18px;
            line-height:20px;
            margin-top:15px;
            display:block;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("线上校友专区", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <span id="username" class="rt" style="display:block"></span>
                <a class="navbar-brand" id="logout">
                    <span>登出</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year  - 线上校友专区<br />
                昆山康桥学校，未经授权禁止转贴、节录标注<br />
                校区地址：江苏省昆山市花桥经济开发区西环路500号<br />
            </p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        var cookies = document.cookie;
        const cookieMap = new Map();
        document.cookie.split("; ").forEach((cookie) => {
            const [key, value] = cookie.split("=");
            cookieMap.set(key, value);
        })
        $("#username").html(cookieMap.get("GroupName") +"&nbsp;&nbsp;&nbsp;&nbsp;"+cookieMap.get("fullname"));
        console.log(cookies);

        $("#logout").on("click", function () {
                @*var url = '@Url.Action("LoginIdex", "Login")';
                window.location.href = url;*@
                $.ajax({
                url: "@(Url.Action("LoginOut", "Login"))",
                type: "post",
                dataType: "json",
                success: function (result) {
                    if (result.IsSuccess) {
                         var url = '@Url.Action("LoginIndex", "Login")';
                         window.location.href = url;
                         
                    } else
                     {
                         alert(result.Msg);
                     }
                }
                });

            });
    </script>
</body>
</html>