
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "TotaldataIndex";
}
<head>
    <title>总数据查询</title>
</head>
<body>
    <h2>总数据查询</h2><br />
    <div>
        <div class="d-flex mb-2">
            <hr>
            <span class="item-title">参数类型</span>
            <select ID="CodeMstr" name="CodeMstr" runat="server" class="col-sm-12 col-md-6 col-xl-2">
                <option value="">------------请选择------------</option>
                <option th:each="CodeMstr:${list}" th:value="${CodeMstr.value}" th:text="${CodeMstr.text}" hidden></option>
            </select>

            <span class="item-title">VALUE</span>
            <input ID="VALUE" name="VALUE" runat="server" class="col-sm-12 col-md-6 col-xl-2" />

            <span class="item-title">TEXT</span>
            <input ID="TEXT" name="TEXT" runat="server" class="col-sm-12 col-md-6 col-xl-2" />

            <button id="btn_search" type="button" class="btn btn-primary ms-2">搜索</button>
            <button class="btn btn-warning ms-2" id="btn_add"><span class="glyphicon glyphicon-pencil"></span> 新增</button>
            <button class="btn btn-success ms-2" id="btn_update"><span class="glyphicon glyphicon-pencil"></span> 修改</button>
            <button class="btn btn-danger ms-2" id="btn_delete"><span class="glyphicon glyphicon-pencil"></span> 删除</button>
            <button id="btn_export" class="btn btn-info ms-2" data-table="#table" type="button">下载汇出</button>
        </div>
        <table id="table"></table>

    </div>

</body>
<script src="~/static/js/bootstrap-table.js" data-cf-settings="4bebc94b2db97a1f9680a39f-|49" defer=""></script>
<script type="text/javascript">
    $(function () {

        $.ajax({
            type: "get",
            dataType: "json",
            method: "post",
            url: "@(Url.Action("getCodeMstr", "DDL"))",
            data: "doaction=sectionList",
            success: function (result) {
                var len = result.length;
                for (i = 0; i < len; i++) {
                    $("#CodeMstr").append(`<option value="${result[i].VALUE}">${result[i].TEXT}</option>`);
                }
            }
        });

        $('#table').bootstrapTable('destroy');
        $('#table').bootstrapTable({
            ajax: function (request) {
                var model = {
                    "CODE": $("#CodeMstr").val(),
                    "VALUE": $("#VALUE").val(),
                    "TEXT": $("#TEXT").val(),
                }
                request.data = model;
                $.ajax({
                    type: "post",
                    url: "@(Url.Action("getCodeMstrList", "CodeMstr"))",
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify(request.data),
                    dataType: "json",
                    jsonp: 'callback',
                    success: function (msg) {
                        request.success({
                            rows: msg
                        });
                        $('#table').bootstrapTable('load', msg);
                    },
                    error: function () {
                        alert("错误");
                    }
                });
            },                    
            toolbar: '#toolbar',
            singleSelect: false,
            clickToSelect: true,
            sortName: "AddTime",
            sortOrder: "desc",
            cache: false,
            striped: true,
            pageSize: 10,
            pageNumber: 1,
            pageList: "[15, 25, 50, 100, All]",
            showToggle: true,
            showRefresh: true,
            showColumns: true,
            search: true,
            pagination: true,
            columns: [
                {
                    field: "ii",
                    checkbox: true,
                    field: "selectItem",
                },
                {
                    field: "ID",
                    visible: false,
                },
                {
                    field: 'CODE',
                    title: 'CODE',
                    switchable: true
                }, {
                    field: 'VALUE',
                    title: 'VALUE',
                    switchable: true
                }, {
                    field: 'TEXT',
                    title: 'TEXT',
                    switchable: true
                }, {
                    field: 'ETD1',
                    title: 'ETD1',
                    switchable: true,
                    sortable: true
                }, {
                    field: 'ETD2',
                    title: 'ETD2',
                    switchable: true
                }, {
                    field: 'ETD3',
                    title: 'ETD3',
                    switchable: true
                }, {
                    field: 'ETD4',
                    title: 'ETD4',
                    switchable: true
                }],
        });

        $('#btn_add').click(function () {
            window.location.href = "#AddCodeMstr";
            window.location.reload();
        });

        var $update = $("#btn_update");
        $(function () {
            $update.click(function () {
                var info = $('#table').bootstrapTable('getSelections');
                if (info.length != 1) {
                    alert("请选择一条数据修改");
                } else {
                    var ID = info[0].ID;
                    $.ajax({
                        url: "@(Url.Action("getCodeMstr", "CodeMstr"))",
                        type: "get",
                        dataType: "json",
                        data: { ID: ID },
                            success: function (res) {
                                //取到的数据存储到localStorage
                                localStorage.clear();
                                localStorage.setItem("ID", res.ID);
                                localStorage.setItem("CODE", res.CODE);
                                localStorage.setItem("VALUE", res.VALUE);
                                localStorage.setItem("TEXT", res.TEXT);
                                localStorage.setItem("ETD1", res.ETD1);
                                localStorage.setItem("ETD2", res.ETD2);
                                localStorage.setItem("ETD3", res.ETD3);
                                localStorage.setItem("ETD4", res.ETD4);

                                //原窗口打开新页面
                                window.location.href = "#UpdateCodeMstr";
                                window.location.reload();
                        },
                        error: function (res) {
                           alert("error")

                        }
                    });
                   
                }
            });
        });

        var $delete = $("#btn_delete");
        $(function () {
            $delete.click(function () {
                var selected = $('#table').bootstrapTable('getSelections');
                var arrays = new Array();

                $(selected).each(function () {
                    var newArr = {};
                    newArr.ID = this.ID;
                    arrays.push(newArr)
                });

                if (selected.length ==0 ) {
                    alert("请选择数据");
                } else {
                    $.ajax({
                        url: "@(Url.Action("DeleteCodeMstr", "CodeMstr"))",
                        type: "post",
                        dataType: "json",
                        contentType: "application/json;charset=UTF-8",
                        data: JSON.stringify(arrays),
                        traditional: true,
                        success: function (result) {
                            if (result.IsSuccess) {
                                alert('删除成功');
                                $('#table').bootstrapTable('refresh', { pageNumber: 1 });
                            }
                            else {
                                alert(result.Msg);
                            }
                        },
                        error: function (result) {
                           alert("删除失败")
                        }
                    });

                }
            });
        });

        $('#btn_export').click(function () {
            var CODE = $("#CodeMstr").val();
            var VALUE = $("#VALUE").val();
            var TEXT = $("#TEXT").val();
            var url = "@(Url.Action("CodeMstrExport", "CodeMstr"))" + "?CODE=" + CODE + "&VALUE=" + VALUE + "&TEXT=" + TEXT;
            window.location = url;
        });

        $('#btn_search').click(function () {
            $('#table').bootstrapTable('refresh', { pageNumber: 1 });
        });
               
    });
</script>


