
@{
    ViewBag.Title = "LoginIndex";
}
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

    <link href="~/css/new2.css" rel="stylesheet" />
    <script src="~/js/jquery1.min.js"></script>
</head>
<br>
<div id="banner" style="margin:0px;padding:0px;text-align:center">
    <img src="~/img/logo_XY2.png" />
</div>
<div class="content3">
    <br>
    <br>
    <br>
    <div style="margin-left:150px">
        <div class="form-floating mb-3">
            <span>账号（Account）:</span>
            <input type="email" class="form-control" id="Account" placeholder="Account">
        </div>
        <div class="form-floating mb-4">
            <span>密码 (Password):</span>
            <input type="password" class="form-control" id="Password" placeholder="Password">
        </div>
        <br />
        <button type="button" class="button" id="btn_login">登录 Login</button>
        <button type="button" class="button" id="btn_find">忘记账号 Forgot account</button>
        <br /><br /><br />
    </div>
    <p>
        提示:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        校友登录：账号为校友就读时的学号，密码为生日。（8位数字）
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        教职员登录：开机账号密码。
        <br />
        Prompt: <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Alumni login:The account number is the student number of the alumni when they study, and the password is the birthday. (8 digits)
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Staff login:Power-on account password.
    </p>
</div>
<script type="text/javascript">
    $(function () {
     

        //确定 登录
        $("#btn_login").click(function () {
            var model = {
                Account: $("#Account").val(),
                Password : $("#Password").val()
            }
            
            if (Account == '' || Password == '') {
                alert("请输入账号以及密码 Please enter your account and password");
                return false;
            } else {
                $.ajax({
                url: "@(Url.Action("doLogin", "Login"))",
                type: "post",
                dataType: "json",
                data: model,
                success: function (result) {
                     if (result.IsSuccess) {
                         var url = '@Url.Action("Index", "Home")';
                         if (result.Msg == "student") {
                             url = '@Url.Action("Index", "Home")';
                         } else if (result.Msg == "manager")
                         {
                             url= '@Url.Action("ManagerIndex", "Manager")';
                         } else if (result.Msg == "teacher") {
                             url= '@Url.Action("Index", "Home")';
                         }
                         
                         window.location.href = url;
                         //window.location.reload();
                         //window.open(url)
                     } else
                     {
                         alert(result.Msg);
                     }
                }

                });
            }
            
        });

        //确定 登录
        $("#btn_find").click(function () {
            var url = '@Url.Action("findAccountIndex", "Login")'
            window.location.href = url;
           // window.location.reload();
        });
    });
</script>