
@{
    ViewBag.Title = "ManagerIndex";
}

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <link href="~/css/new2.css" rel="stylesheet" />
    <script src="~/static/js/jquery-3.4.1.min.js"></script>
    <script src="~/static/js/main.js" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
    <script src="~/static/js/rocket-loader.min.js" data-cf-settings="4bebc94b2db97a1f9680a39f-|49" defer=""></script>


    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="~/static/css/css2.css" rel="stylesheet">
    <link href="~/static/css/all.min.css" rel="stylesheet">
    <link href="~/static/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/static/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    <link href="~/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">

        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">校友系统后台</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="~/static/picture/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <ul class="Menu">
                        <li class="current" data-id="111"><a class="nav-item nav-link">校友系统后台说明</a></li>
                        <li data-id="222"><a class="nav-item nav-link">入校申请查询</a></li>
                        <li data-id="333"><a class="nav-item nav-link">在读/转出证明查询</a>
                        <li data-id="444"><a class="nav-item nav-link">成绩单查询</a></li>
                        <li data-id="555"><a class="nav-item nav-link">总数据查询</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="content">
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="~/static/picture/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="~/static/picture/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="~/static/picture/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="~/static/picture/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="container-fluid pt-4 px-4">
                <div class="row vh-100 bg-light rounded justify-content-center mx-0">
                    <div id="content" class="col-md-12 text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $(".Menu").on("click", "li", function () {
                var sId = $(this).data("id");//获取data-id的值
                window.location.hash = sId;
                loacdInner(sId);
            });
            function loacdInner(sId) {
                var sId = window.location.hash;
                var pathn, i;
                switch (sId) {
                    case "#111":
                        pathn = "@(Url.Action("InstructionIndex", "Manager"))",
                        i = 0;
                        break;
                    case "#222":
                        pathn = "@(Url.Action("TotalAdminissionIndex", "Adminssion"))",
                        i = 0;
                        break;
                    case "#333":
                        pathn = "@(Url.Action("TotalCertificateIndex", "Certificate"))",
                        i = 0;
                        break;
                    case "#444":
                        pathn = "@(Url.Action("TotalReportIndex", "Report"))",
                        i = 0;
                        break;
                    case "#555":
                        pathn = "@(Url.Action("TotaldataIndex", "Totaldata"))", 
                        i = 0;
                        break;
                     case "#SignReport":
                        pathn = "@(Url.Action("SignReportVw", "Report"))", 
                        i = 0;
                        break;
                    case "#SignCertificate":
                        pathn = "@(Url.Action("SignCertificateVw", "Certificate"))", 
                        i = 0;
                        break;
                    case "#SignAdminission":
                        pathn = "@(Url.Action("SignAdminissionVw", "Adminssion"))", 
                        i = 0;
                        break;
                    default:
                        pathn = "@(Url.Action("InstructionIndex", "Manager"))",
                        i = 0;
                        break;
                }
                $("#content").load(pathn);//加载相应内容
                $(".Menu li").eq(i).addClass("current").siblings().removeClass("current");//当前列表高亮
            }
            var sId = window.location.hash;
            loacdInner(sId);
        });

    </script>
</body>

